<div class="mb-4">
    <p>
        <strong>Name: </strong>
        <%= tool.name %>
    </p>
    <p>
        <strong>MaintainX ID: </strong>
        <%= tool.maintainx_id %>
    </p>
    <p>
        <strong>Type:</strong>
        <%= tool.tool_type %>
    </p>
</div>