<!-- app/views/settings/test.html.erb -->
<div class="w-full p-4">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4 max-w-2xl mx-auto">
        <div class="bg-blue-800 p-4">01</div>
        <div class="bg-blue-800 p-4">02</div>
        <div class="bg-blue-800 p-4">03</div>
        <div class="bg-blue-800 p-4">04</div>
        <div class="bg-blue-800 p-4">05</div>
        <div class="bg-blue-800 p-4">06</div>
        <div class="bg-blue-800 p-4">07</div>
        <div class="bg-blue-800 p-4">08</div>
        <div class="bg-blue-800 p-4">09</div>
    </div>
</div>
