<div class="flex justify-center">
  <h1 class="text-2xl mb-4">Submit feedback</h1>
</div>
<div class="flex justify-center">
  <%= form_with(model: @feedback, local: true) do |f| %>
    <div class="mb-4">
      <%= f.rich_text_area :content, class: "shadow appearance-none border rounded w-96 h-48 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="flex items-center justify-center">
      <%= f.submit "Submit", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
</div>
