<div class="flex justify-center">
    <h1>Welcome to the Goodfish Process Settings App</h1>
</div>

<div class="flex justify-center mt-24">
    <p>Please choose where you would like to go using the above navbar</p>
</div>